[2022-01-20 08:11] Cahllagerfeld opened #1 "Search Github API"
Searchquery: `https://api.github.com/search/issues?q=is:issue%20is:open%20label:%22good%20first%20issue%22%20org:EddieHubCommunity`

[2022-01-20 18:40] Cahllagerfeld opened #2 "add authentication"

[2022-01-21 19:03] Cahllagerfeld opened #4 "add prebuilds"

[2022-01-21 19:03] #2 closed

[2022-01-21 19:06] Cahllagerfeld commented on #4
closes with #5

[2022-01-21 19:06] Cahllagerfeld commented on #4
closed with #5

[2022-01-21 19:06] #4 closed

[2022-01-21 19:15] Cahllagerfeld opened #6 "UI-Components"
- [ ] Button #7
- [x] General Layout #8

[2022-01-21 19:16] Cahllagerfeld opened #7 "Button-Component"

[2022-01-21 19:17] Cahllagerfeld opened #8 "General Layout"

[2022-01-21 21:26] #8 closed

[2022-01-21 21:49] #1 closed

[2022-01-22 08:26] Cahllagerfeld opened #12 "Create Card Component"

[2022-01-22 22:13] Cahllagerfeld opened #14 "Optimize Card Component"

[2022-01-22 22:44] #14 closed

[2022-01-22 22:45] Cahllagerfeld commented on #7
currently not needed

[2022-01-22 22:45] Cahllagerfeld commented on #6
currently not needed anymore

[2022-01-22 22:45] #6 closed

[2022-01-23 16:04] Cahllagerfeld opened #16 "adjust card-design"

[2022-01-23 16:04] Cahllagerfeld opened #17 "add backlink to home-page"

[2022-01-23 16:05] Cahllagerfeld opened #18 "add sign-out"

[2022-01-23 16:07] Cahllagerfeld opened #20 "add svelte-check"
Svelte-Check should run in the Pre-Push hook.
My preferred way of doing this is `lint-staged`

[2022-01-23 16:07] #17 closed

[2022-01-23 16:33] #7 closed

[2022-01-23 17:44] #18 closed

[2022-01-25 17:04] Cahllagerfeld opened #23 "dockerize application"

[2022-01-25 20:07] #23 closed

[2022-01-26 13:30] eddiejaoude opened #25 "Search all of github for issue with label "EddieHub:good-first-issue""

[2022-01-26 16:35] Cahllagerfeld opened #26 "use token in environment"
The current authentication uses a `personal access token`. To make things easier this should be migrated to use a token in the environment of the server

[2022-01-26 17:46] #26 closed

[2022-01-26 18:42] Cahllagerfeld opened #28 "remove unnecessary files"
- [ ] button.svelte
- [ ] request.http
- [ ] button.type.ts

[2022-01-26 19:14] Cahllagerfeld opened #29 "pin sveltekit version"
As its technically still beta-software, we never know when breaking changes are coming in. Thats why its safer to pin the current version number for now.

[2022-01-26 19:19] #29 closed

[2022-01-27 10:54] #20 closed

[2022-01-27 17:30] eddiejaoude opened #32 "Deploy to EddieHub's kubernetes cluster"
- [x] build + push to GH container registry
- [x] create release
- [x] deploy
- [ ] add `VITE_TOKEN` for GitHub token

[2022-01-27 17:31] Cahllagerfeld commented on #32
Awesome, thanks for raising, just a little side-note:
The GH-Token needs to live in the env-variable with the name `VITE_TOKEN` when deploying to the cluster

[2022-01-27 17:34] eddiejaoude commented on #32
Ah yes, thank you! Let me add that as a task 👍

[2022-01-27 17:39] Cahllagerfeld opened #34 "display labels"
the labels are returned from the api. They should be displayed

[2022-01-27 17:44] Cahllagerfeld opened #35 "[DOCS] add proper readme"
The project currently uses the boilerplate-readme. This should be replaced by a Eddiehub-One

[2022-01-27 19:59] Cahllagerfeld opened #36 "detail-page for issue"

[2022-01-28 01:45] #32 closed

[2022-01-28 07:58] krshdev commented on #25
Can I work on this?

[2022-01-28 07:59] krshdev commented on #35
I'd love to work on this.

[2022-01-28 09:03] #28 closed

[2022-01-28 09:07] Cahllagerfeld commented on #25
As far as I remember thats a roadmap-feature for the future. In my opnion we should focus on stability and UI for quering just the Org for now. What do you think about it @eddiejaoude ?

[2022-01-28 09:11] Cahllagerfeld opened #40 "add action for build validation"
A Action for confirming the build-success should run for PRs

[2022-01-28 10:45] krshdev commented on #40
You mean a build action like in linkfree?

[2022-01-28 10:48] Cahllagerfeld commented on #40
Action that runs the build 👍

[2022-01-28 18:09] Cahllagerfeld opened #41 "fix deployment"

[2022-01-28 18:15] #41 closed

[2022-01-28 18:20] Cahllagerfeld opened #43 "adjust favicon & title"

[2022-01-28 18:23] Cahllagerfeld opened #44 "implement search"
Create a Search for making the results searchable

[2022-01-29 07:51] Cahllagerfeld opened #45 "add footer"

[2022-01-29 08:46] Cahllagerfeld opened #46 "[Discussion] Use GraphQL"
With the following Query we could get the data using graphql
[code]

[2022-01-29 09:23] Cahllagerfeld opened #47 "add label action"
Add [this](https://github.com/EddieHubCommunity/api/blob/main/.github/workflows/labels.yml) action to the repo

[2022-01-29 12:08] Cahllagerfeld commented on #46
closed with #48

[2022-01-29 12:08] #46 closed

[2022-01-29 12:11] Cahllagerfeld opened #49 "add pagination to issues"
[code]

we should add this with an `more` button below the items, to make sure the footer can be reached properly

[2022-01-29 15:25] Siddhant-K-code commented on #47
is this issue for PR/Issue automated labelling?

[2022-01-29 15:43] Cahllagerfeld commented on #47
I think the title of the issue isnt that good, I need to update the description as well, let me try to clarify it:
We're having a Action that generates lables, that can be added to the issues. Because of that we have the same labels in every Org-Repo which makes it easier for quering labels throughout the org.

[2022-01-29 16:55] Siddhant-K-code commented on #47
we can add good first issue label to this, so that a beginner can take this up :)

[2022-01-30 18:33] FahimFBA commented on #47
Can I work on this?

[2022-01-30 18:34] FahimFBA commented on #47
Can I work on this?

[2022-01-30 20:13] Cahllagerfeld commented on #47
Sure

[2022-01-30 20:21] FahimFBA commented on #47
I have added the PR.

[2022-01-31 11:52] Cahllagerfeld opened #51 "tackle responsivness-issues"
We should code this with a mobile-first approach!

[2022-01-31 11:55] Cahllagerfeld commented on #47
closed with #50

[2022-01-31 11:55] #47 closed

[2022-02-02 18:32] Cahllagerfeld opened #53 "Add Tailwind-Prettier Plugin"
Add [this](https://tailwindcss.com/blog/automatic-class-sorting-with-prettier) Plugin to Prettier

[2022-02-02 18:35] #51 closed

[2022-02-02 18:35] #53 closed

[2022-02-02 18:36] Cahllagerfeld opened #54 "Migrate `type`-files to `.d.ts`"

[2022-02-02 18:49] #54 closed

[2022-02-12 18:08] #34 closed

[2022-02-12 18:17] KendallDoesCoding commented on #43
Do you have a design for the new favicon?

[2022-02-12 18:31] Cahllagerfeld commented on #43
Nope I think its still for discussion. The App is currently using the default Svelte-favicon. This should be replaced, everything else is pretty much open for discussion

[2022-02-12 18:37] KendallDoesCoding commented on #43
Ok

[2022-02-12 18:39] KendallDoesCoding opened #60 "[FEATURE] Update favicon file format"
### Description

Update "favicon.png" to "favicon.ico"

I would love to work on this, please assign me.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-12 18:41] KendallDoesCoding opened #61 "[OTHER] The issue template is coded via Node?"
### What would you like to share?

Is the issue template coded via Node?

### Additional information

_No response_

[2022-02-12 18:44] KendallDoesCoding opened #62 "[FEATURE] Add auto-labels when issue is opened using template"
### Description

When issue is opened using the template, add auto labels, as following

🐛 Bug - **bug**
📄 Documentation issue - **documentation**
💡 General Feature Request - **enhancement** or **feature**

It adds a label for the "Other" template already.

### Screenshots

_No response_

### Additional information

I would love to work on this if the issue templates were in the .github directory

[2022-02-12 18:51] Cahllagerfeld commented on #60
I think this can be tackled together with #43

[2022-02-12 18:52] Cahllagerfeld commented on #61
The Labels are defined [here](https://github.com/EddieHubCommunity/.github/tree/main/.github/ISSUE_TEMPLATE)

[2022-02-12 18:53] KendallDoesCoding commented on #60
Yeah, thought the same thing but for now, till we update the favicon, it would be nice if its .ico.

[2022-02-12 18:55] KendallDoesCoding commented on #61
Then why don't the labels defined work? #62

[2022-02-12 18:58] Cahllagerfeld commented on #61
I think the labels defined in the templates aren't available in the repo. We are using standard-labels across all Eddiehub-projects, thats probably the issue 🤔

[2022-02-12 18:58] KendallDoesCoding commented on #61
Oh ok.

[2022-02-12 19:03] KendallDoesCoding commented on #61
Query Resolved... Closing

[2022-02-12 19:03] #61 closed

[2022-02-12 22:49] #45 closed

[2022-02-13 05:25] KendallDoesCoding commented on #62
A way to fix this is to add the labels called out in the .github directory in this repo too

[2022-02-13 07:52] Cahllagerfeld opened #69 "[FEATURE] Filter-Function for labels"
### Description

Filter Issues by labels when clicking on them

[2022-02-13 14:32] #69 closed

[2022-02-14 14:08] Cahllagerfeld opened #71 "[FEATURE] Display Language of the Project"
### Description

When displaying the language, the project is written in, its easier for people finding a good issue which is related to their techstack

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-14 14:26] Cahllagerfeld opened #72 "[FEATURE] Map Response from GraphQL Query"
### Description

As the query gets more and more complex with new feautres, we should think about mapping the response in the Endpoint to return a object to the Frontend that is much easier to work with

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-14 20:36] Cahllagerfeld commented on #71
closed with #73

[2022-02-14 20:36] #71 closed

[2022-02-17 09:38] eddiejaoude commented on #25
You are project lead on this @Cahllagerfeld , I will take your advice on this

[2022-02-17 17:52] Cahllagerfeld opened #75 "[FEATURE] Add Custom Error-Page"
### Description

Sveltekit is able to display custom Error-Pages, we should create one.
https://kit.svelte.dev/docs/layouts#error-pages

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-17 18:44] bhaskar2840 commented on #75
i would like to solve this issue.

[2022-02-17 18:58] bhaskar2840 commented on #36
- yes! surely it would be a great step.

[2022-02-17 19:00] Cahllagerfeld commented on #75
Sure 🏀 🚀

[2022-02-17 19:01] Cahllagerfeld commented on #36
The Issues I'm seeing with this, is that I'm not sure if its worth to rebuild kind of the thing Github already provides. It kinda feels we're reinventing the wheel which isnt necessary

[2022-02-19 19:15] Cahllagerfeld opened #76 "[OTHER] Use Shields.io"
### What would you like to share?

Should we use shields.io in the readme?

### Additional information

_No response_

[2022-02-20 08:38] krshdev commented on #76
yes

[2022-02-20 08:38] krshdev commented on #76
eddie said in stream to use

[2022-02-20 20:35] susheelpal commented on #60
is it done? I would like to contribute. I am a newbie here.

[2022-02-21 06:06] KendallDoesCoding commented on #60
I made a pr and it got little messed up but then I've been busy with
personal projects so ig you can be assigned on this.

On Mon, 21 Feb 2022, 2:05 am Susheel Pal, ***@***.***> wrote:

[2022-02-21 06:37] divyanshraj0408 opened #77 "[FEATURE] Filter and search through languages"
### Description

We should have a **feature of filtering and searching through programming languages**, adding this will make it easier to find issues in the specific language.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-21 06:53] Cahllagerfeld commented on #60
Okay, thanks for that info @KendallDoesCoding

[2022-02-21 06:54] Cahllagerfeld commented on #77
Do you want to work on this?

[2022-02-21 07:52] divyanshraj0408 commented on #77
I would be happy to, but **`svelte`** is not my in my skillset, It would be better if someone else works on the issue.

[2022-02-21 08:14] Cahllagerfeld commented on #77
Okay 🚀

[2022-02-21 09:29] KendallDoesCoding commented on #60
:D

On Mon, 21 Feb 2022 at 12:23, Cahllagerfeld ***@***.***>
wrote:

[2022-02-21 16:14] KendallDoesCoding commented on #60
@susheelpal Although, if you need any help, I'll try my best... After creating this issue, recently, I've setup Git so I can run and fix the issue on localhost :D

[2022-02-21 22:55] susheelpal commented on #60
git push -u origin susheel
remote: Permission to EddieHubCommunity/good-first-issue-finder.git denied to susheelpal.
fatal: unable to access 'https://github.com/EddieHubCommunity/good-first-issue-finder.git/': The requested URL returned error: 403

I am getting this issue. I am not able to get why it is happening.

[2022-02-22 05:19] Cahllagerfeld commented on #60
You need to fork the repo first.

[2022-02-22 06:14] KendallDoesCoding commented on #60
Yup coz you don't have access to this repo as a collaborator, so fork the repo and clone the fork. If you need help, please let me know.

[2022-02-22 09:53] susheelpal commented on #60
yes, it was a fork issue. thank you so much for guiding me

[2022-02-22 09:58] susheelpal commented on #43
is it a duplicate issue of "update favicon file format"??

[2022-02-22 10:33] Cahllagerfeld commented on #43
Nope, it isn't 👍 All fine with the issues  🏀 This one is about the icon itself, not the format

[2022-02-23 17:56] susheelpal opened #79 "please create contributing.md"
### Description

It would be nice if there is the instruction given to run the project.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 14:13] KendallDoesCoding commented on #79
I can work on this.

[2022-02-28 14:13] KendallDoesCoding opened #80 "[FEATURE] Add badges to README.md"
### Description

Add a couple of badges to README.md, for ex: size, closed pr's, closed issues.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 14:15] KendallDoesCoding opened #81 "[FEATURE] Add labels to issue templates"
### Description

For feature request, the label to be added automatically should be - [⭐ goal: addition](https://github.com/EddieHubCommunity/good-first-issue-finder/labels/%E2%AD%90%20goal%3A%20addition)
For bug, automatically add the bug label.
For docs, automatically add the documentation label.

### Screenshots

_No response_

### Additional information

I can work on this issue.

[2022-02-28 14:16] krshkodes opened #82 "[FEATURE] Dynamic Image On Issue"
### Description

![image](https://user-images.githubusercontent.com/91655303/155998082-07184e2e-17da-4a2d-b918-a7fa24363aad.png)

Currently, it is just github logo, could be

- the pfp of the issue author
- pfp of the repo owner

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 14:18] KendallDoesCoding opened #83 "[FEATURE] Filter with coding language"
### Description

Filter with languages button, for eg: Javascript, HTML, Svelte

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 14:19] Susmita-Dey opened #84 "[DOCS] CODE OF CONDUCT"
### Description

Kindly create a CODE_OF_CONDUCT.md file in this repo. CODE_OF_CONDUCT is missing here.
I'll be happy if I'm assigned to do so.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 14:21] KendallDoesCoding commented on #80
Please assign this to me.

[2022-02-28 14:23] Susmita-Dey commented on #84
Hey, there are **2 types of code of conduct**. I usually use the first one for my repos.

**Shall I add the first one here or the second one?**

![image](https://user-images.githubusercontent.com/79099734/155999254-53645595-0768-492b-a129-096a871cbdc6.png)

[2022-02-28 14:24] schmelto commented on #80
I'm not sure weather we need closed PRs and closed Issues badge du I not see any value in knowing how many PRs got closed etc.

[2022-02-28 14:25] schmelto commented on #84
I would suggest taking a look at the other EddieHub repos. :D

[2022-02-28 14:25] Susmita-Dey commented on #84
Okay, thanks

[2022-02-28 14:25] schmelto commented on #84
https://github.com/EddieHubCommunity/support/blob/main/CODE_OF_CONDUCT.md

[2022-02-28 14:26] KendallDoesCoding commented on #80
True, maybe just add a LICENSE badge or something in that case?

[2022-02-28 14:29] KendallDoesCoding opened #86 "Make text in footer, just icons"
### Description

Make text "Discord", "Github" with hyperlinks in footer, icons using font awesome.

### Screenshots

_No response_

### Additional information

I may be able to work on this.

[2022-02-28 14:39] Susmita-Dey commented on #79
Okay, then I'm assigning it you.

[2022-02-28 14:41] KendallDoesCoding commented on #79
@Susmita-Dey You can't assign me, your not a maintainer, unfortunately :(

[2022-02-28 14:46] KendallDoesCoding commented on #79
No issues :)

[2022-02-28 14:58] KendallDoesCoding opened #88 "[BUG] Can't read properties."
### Description

Screenshot attached of issue.

### Screenshots

![image](https://user-images.githubusercontent.com/84712013/156005131-5973138e-f146-4cfd-8f68-810f08feec0f.png)

### Additional information

_No response_

[2022-02-28 15:04] #84 closed

[2022-02-28 15:06] #25 closed

[2022-02-28 15:06] #88 closed

[2022-02-28 15:17] KendallDoesCoding opened #91 "[DOCS] Add PR template"
### Description

Add PR template for detailed PR

### Screenshots

_No response_

### Additional information

I can work on this, if required.

[2022-02-28 15:23] KendallDoesCoding opened #93 "[FEATURE] Mantainers can add labels straight on the website?"
### Description

A special url, like /mantainers or /admin in the end of the url, for mantainers to login to github and can add labels straight from the website?

If it's lots of code, then this is un-necessary though lol, but it will be useful.

### Screenshots

_No response_

### Additional information

_No response_

[2022-02-28 15:25] KendallDoesCoding opened #94 "[FEATURE] Version number"
### Description

Add github release version number on the website.

### Screenshots

_No response_

### Additional information

Suggested by Eddie in live-stream, creating a issue incase we forget about it :)

[2022-02-28 15:26] KendallDoesCoding opened #95 "[DOCS] Add license"
### Description

Add license to project... Maybe it can be MIT?

### Screenshots

_No response_

### Additional information

I can work on this, please share the LICENSE yall want to be added.

[2022-02-28 16:42] KendallDoesCoding opened #96 "[DOCS] SECURITY POLICY"
### Description

Add a security policy to report security vulnerabilities. This can be added by creating SECURITY.MD preferably in the .github directory.

Inculde url http://eddiejaoude.io/contact to report security issues

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 09:05] KendallDoesCoding opened #97 "[FEATURE] Filter by type of issue"
### Description

Filter by docs, bug, enhancement... It will be very useful for people who want to fix a certain type of issue, for eg: docs is pretty easy to do so if your a beginner maybe you want to get on the docs stuff instead of bugs and features?

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 17:11] emmalearnscode opened #99 "[OTHER] change label names"
### What would you like to share?

The current toggle label names don’t really express what they are toggling between. To me, global doesn’t convey that I’m searching all of GitHub. I wonder if instead of organisation / global it would be clearer if it stood EddieHub / GitHub. What do you think?

![AE81E08C-841B-4A5B-871C-43139B5CC051](https://user-images.githubusercontent.com/57045550/156215688-a

[2022-03-01 17:19] emmalearnscode opened #100 "Text cut off on mobile"
### Description

Too much text is cut off from each issue on mobile (screenshot from iPhone XS) especially when there is also a label. Suggestion: text should wrap onto next line instead of be cut off.

### Screenshots

![72B2D91E-99D2-44AE-8BD1-D8747CCC075F](https://user-images.githubusercontent.com/57045550/156216848-4c416c21-b6e4-4dff-9ba3-49788a98d7c8.png)

### Additional information

_No resp

[2022-03-01 17:25] emmalearnscode commented on #86
If this is done, make sure the icons have aria labels so that they are still accessible.

[2022-03-01 17:28] emmalearnscode opened #101 "Missing title tag in head"
### Description

Add <title> tag to the head section of the html.

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 17:33] emmalearnscode opened #102 "[OTHER] Use header tag instead of div tag"
### What would you like to share?

Use a header tag around the title, toggle and search bar instead of a div to improve the semantics of the site.

### Additional information

_No response_

[2022-03-01 17:34] emmalearnscode opened #103 "[OTHER] Use main tag instead of div tag"
### What would you like to share?

Around the section where all the issues are shown, the div should be switched out for a main tag.

### Additional information

_No response_

[2022-03-01 17:38] emmalearnscode commented on #102
Sure, go ahead :)

[2022-03-01 17:42] emmalearnscode opened #104 "Toggle is not reachable by keyboard navigation"
### Description

When using a keyboard to navigate through the site the tab button jumps straight from focussing on the hubber icon link to the search bar and is unable to tab to the toggle.

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 17:47] EmmaDawsonDev opened #105 "Labels not reachable by keyboard navigations"
### Description

The labels under the search bar are not reachable by tabbing through the site. The tab jumps directly from search to the first issue.

To do: Make labels tabbable and give them focus which matches the rest of the site.

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 17:52] EmmaDawsonDev opened #106 "Clicking x does not reset search"
### Description

On Chrome browser when searching a small cross appears next to the word. When it is clicked the word disappears but the search does not get reset so it continues to show only the issues which match the search.

to do: When the x is clicked the search term should reset to "" and all items should be shown again.

### Screenshots

_No response_

### Additional information

_No respon

[2022-03-01 17:52] KendallDoesCoding opened #107 "[OTHER] How do I get my profile on Global?"
### What would you like to share?

Rn, I can only see Krish and Eddie's profile on the global menu, how do I set it up for my repos too?

### Additional information

_No response_

[2022-03-01 17:53] KendallDoesCoding commented on #99
Yep, good idea!

[2022-03-01 17:56] KendallDoesCoding commented on #106
Yup, it's clearing it up from the bar, but it's not reseting the items.

[2022-03-01 17:58] KendallDoesCoding commented on #43
Can you make a discussion Cahl for ideas for the new favicon?

[2022-03-01 17:59] KendallDoesCoding commented on #60
Any update on this @susheelpal ?

[2022-03-01 18:01] KendallDoesCoding commented on #100
I can try to work on this.

[2022-03-01 18:11] KendallDoesCoding opened #108 "[DOCS] Open in gitpod icon in README.md"
### Description

Add a open in gitpod icon in README that if tapped will open this project in Gitpod.

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 18:11] KendallDoesCoding commented on #35
#108 is something to consider in the proper README.md @krshdev

[2022-03-01 18:24] emmalearnscode commented on #107
You add the Eddiehub:good-first-issue label to any issues in your respos that you think are suitable for beginners and that have sufficient explanation for how to succeed.

[2022-03-01 18:26] KendallDoesCoding commented on #107
And then it will automatically add here?

[2022-03-01 18:30] emmalearnscode commented on #107
It should do, that's what they were testing on the stream yesterday. Try it out and see if it appears (you will have to select global instead of organization)

[2022-03-01 18:31] KendallDoesCoding commented on #107
Yup, it does appear, pretty cool... Closing

[2022-03-01 18:31] #107 closed

[2022-03-01 18:32] KendallDoesCoding opened #109 "Issue with filtering language"
### Description

A Code of Conduct is .md script, if I am not mistaken, in the good-issue-finder, it's filtering under CSS

### Screenshots

![image](https://user-images.githubusercontent.com/84712013/156227936-1f862bcb-7f27-48e8-ae37-070b47e60064.png)

### Additional information

_No response_

[2022-03-01 18:33] KendallDoesCoding commented on #109
Same issue with this.

![image](https://user-images.githubusercontent.com/84712013/156228087-a7ef3241-d05f-46a3-86a2-c4e119900dfa.png)

[2022-03-01 18:36] KendallDoesCoding opened #110 "[FEATURE] Not case sensitive label to be added in Global"
### Description

rn the label as to be: EddieHub:good-first-issue, I made the h in Hub, lowercase and it didn't show up, I think it will be better if it shows up, regardless of the case, even if the full label is in lowercase?

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 18:43] KendallDoesCoding opened #111 "Issue not showing up in global"
### Description

I added a issue 14 minutes back with the label, but it's still not showing up under Global, my other issue, showed up there within 2 mins.

### Screenshots

_No response_

### Additional information

_No response_

[2022-03-01 18:44] KendallDoesCoding commented on #110
Idk if it already is has for the same issue seem to be facing another issue #111

[2022-03-01 18:49] emmalearnscode commented on #111
If you spelt it correctly then this is most probably because the github API only updates every 15-20 minutes. This was a big worry point during hacktoberfest when everyone wondered why their pull requests didn't track immediately. I bet if you give it a few minutes it will appear.

[2022-03-01 18:52] emmalearnscode commented on #109
It's showing the main language of the entire repo, the one that can be seen in the right hand panel under the about section on each repo, not the language of the specific file to be edited.

[2022-03-02 09:57] KendallDoesCodingAlt1 commented on #111
Well, the other issue showed up... Out of the 3 issues put the label, only one showed up though?

[2022-03-02 10:08] KendallDoesCodingAlt1 commented on #111
It's coz I had someone assigned to the issue, after removed it it's showing up. Please close this issue.

[2022-03-02 10:10] eddiejaoude commented on #111
Thank you for letting us know. Sure I can close this.

[2022-03-02 10:10] #111 closed

[2022-03-02 11:27] #109 closed

[2022-03-03 08:18] suhaasya commented on #108
I would like to do this task. can anyone assign me??

[2022-03-03 08:23] suhaasya commented on #101
I like to work on this issue. can anyone assign it to me ??

[2022-03-03 08:45] suhaasya commented on #101
hey Emma can you help me to run an app in my local environment.  I don't know how to run the svelte app. I did fix the issue but I wanna check it before commit.

[2022-03-03 17:35] emmalearnscode commented on #101
which commands did you run? It should be enough to run npm install followed by npm run dev --open

[2022-03-03 18:22] susheelpal commented on #60
I am not able to run in my local even after adding "start" in package.json
![favicon](https://user-images.githubusercontent.com/57487901/156627463-e73369cb-1539-4572-9f50-6feadaba0182.jpg)

[2022-03-04 05:00] suhaasya commented on #101
I had run
npm install then
npm run dev --open

now getting this issue.
![Uploading Screenshot (418).png…]()

[2022-03-04 05:32] suhaasya commented on #101
I can run now. I was missing creating a .env file.

I also had made a pull request.

one suggestion from my side. someone should create CONTRIBUTTING.md asap.

[2022-03-04 07:43] emmalearnscode commented on #101
Glad you figured it out 👍🏻

[2022-03-04 09:59] suhaasya commented on #101
my pr request got merged. you can close this issue now.

[2022-03-04 10:26] emmalearnscode commented on #101
Pr #113

[2022-03-04 10:26] #101 closed

[2022-03-08 06:27] #93 closed

[2022-03-09 19:18] vikasganiga05 opened #114 "[FEATURE] Add light/dark theme toggle"
### Description

A toggle button to enable light theme or dark theme, and also set it to system theme that changes dynamically according to the overall system theme.

- By default set the theme to light/dark according to the user's system theme.
- A toggle button to change the theme.
- Also, it must store the chosen theme in the cache so that the same theme is rendered the next time the app is ope

[2022-03-16 08:20] schmelto commented on #35
@krshdev how is it going?

[2022-03-16 08:26] schmelto commented on #75
Hey @bhaskar2840 just checking in do you need any help

[2022-03-17 08:32] krshdev commented on #35
Hi @schmelto Really sorry I forgot that I was assigned to this issue because of exam rush... I will open a pull request this week and get this done ✅

[2022-03-17 09:11] schmelto commented on #35
Sure no rush

[2022-03-20 05:07] shambashib20 commented on #79
I can work on this issue. Is there any template or guide to build the CONTRIBUTING.md?

[2022-03-21 16:09] #35 closed

[2022-03-30 13:10] pathakkar01 commented on #99
Hello @emmalearnscode , I would like to work on this issue, If you can Assign me ?

[2022-03-31 19:08] AneeshSaravuKarekad commented on #95
I'd love to contribute. Could I be assigned to this, please

[2022-04-01 06:50] emmalearnscode opened #117 "Make the environmental variable optional"
### What would you like to share?

Make it possible to open and run the code without adding an github token. Update the readme to reflect the changes and explain what happens with and without the token.

### Additional information

_No response_

[2022-04-01 10:49] pathakkar01 commented on #99
Hello @emmalearnscode, I have changed the labels and made a pull request, If you find it correct please merge it the main branch

[2022-04-02 18:59] suhaasya commented on #103
I like to do this task. can you please assign me??

[2022-04-02 19:13] suhaasya opened #119 "[DOCS] Modify 3rd line from the installation steps"
### Description

When we clone the good-first-issue-finder repository.
good-first-issue-finder directory will created in system.

So third line should be cd good-first-issue-finder instead of cd linkfree.

### Screenshots

![Screenshot (433)](https://user-images.githubusercontent.com/75799016/161397855-2dc53c50-271b-4feb-b7cd-007761087a27.png)

### Additional information

_No response_

[2022-04-03 16:25] #99 closed

[2022-04-06 07:00] DurveshKumarPal commented on #103
@emmalearnscode can you assign me this issue??

[2022-04-06 07:02] DurveshKumarPal commented on #86
@emmalearnscode can I work on this issue??

[2022-04-08 18:28] The-Shivam-garg commented on #119
Hye @suhaasya would love to work on this issue , can you please assign this issue to me .

[2022-04-08 22:12] schmelto commented on #119
I think we could leave this line but clarify it a little bit more. After cloning you have to go into your cloned folder in this case linkfree in this perspective the step makes sense to me. But you are also right there is no linkfree folder in linkfree :D

[2022-04-09 04:22] suhaasya commented on #119
We can't leave this line. Because it will confuse developers.
It's good-first-issue-finder project not linkfree.
Contributor just copy paste lines from linkfree readme.

I have to change the issue title.
It should be modify the third link
From CD linkfree to cd good-first-issue-finder.

[2022-04-09 06:46] schmelto commented on #119
Ups hahaha yeah wrong repo 😅😅😅 you are right

[2022-04-09 06:56] #103 closed

[2022-04-09 07:04] suhaasya commented on #119
hey @The-Shivam-garg,
I am not able to see any option to assign the issue.
i think this option is only available for maintainers.

[2022-04-09 13:23] DurveshKumarPal commented on #86
@emmalearnscode  I'm unable to figure out to install setup can you plz Guide

[2022-04-09 13:25] emmalearnscode commented on #119
@The-Shivam-garg I assigned you. Let us know if you need help with anything.

[2022-04-09 13:26] emmalearnscode commented on #117
@Cahllagerfeld shall I close this issue? I recall you saying it might not be possible?

[2022-04-09 13:28] emmalearnscode commented on #86
Which stage are you getting stuck on? @DurveshKumarPal

[2022-04-09 13:29] emmalearnscode commented on #86
Instruction 3 is currently wrong and someone is working on it but it should say cd good-first-issue-finder instead of cd linkfree

[2022-04-10 16:20] Shivansh-yadav13 commented on #108
I think this issue can be closed now.

[2022-04-26 05:22] mdaquib171 commented on #102
Is this issue is still pending, if it is then I would like to contribute to this
As I am looking for first time to contribute to open source
please help me out
thanks

[2022-04-26 05:26] emmalearnscode commented on #102
@umeshthakre how’s it going? Are you still working on this or are you happy for @mdaquib171 to take over?

[2022-04-26 06:44] #100 closed

[2022-04-26 06:55] #40 closed

[2022-04-26 06:55] #95 closed

[2022-04-26 08:07] schmelto commented on #119
@The-Shivam-garg still working on this issue?

[2022-04-27 02:30] The-Shivam-garg commented on #119
modified the changes as suggested ,please check it out the **PR  #124** and if there is any further changes required please do acknowledge me with that.

[2022-05-01 11:24] Cahllagerfeld opened #125 "[FEATURE] CMD + Key to call Search"
### Description

CMD + K is a usual Shortcut to bring up the search, we should implement this feature as well

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-03 01:28] saiswathit commented on #105
Hello Can I work on this issue

[2022-05-12 15:34] Benmuiruri commented on #102
Hello everyone, it looks like it's been a while since an update on this issue was given. If it is still open, I would like to work on it

[2022-05-13 08:23] emmalearnscode commented on #102
Ok, I unassigned @umeshthakre, please feel free to go ahead and work on it.

[2022-05-13 08:40] Benmuiruri commented on #102
Thanks Emma, I will give it a shot.

[2022-05-13 09:07] Benmuiruri commented on #102
Hi @emmalearnscode, I inspected the page and it seems to me that the content is already wrapped by a `header` tag.

See the image below, Let me know if this issue still needs to be handled.
![header-fix](https://user-images.githubusercontent.com/2597305/168250764-f1b7c729-dc8d-496e-85bb-7fa104563d91.png)

[2022-05-13 09:45] Benmuiruri commented on #102
Okay, I will do that.

[2022-05-14 18:05] emmalearnscode commented on #119
Closed by PR #124

[2022-05-14 18:05] #119 closed

[2022-05-14 18:06] #117 closed

[2022-05-14 18:10] emmalearnscode opened #127 "[DOCS] Make installation step 5 clearer"
### Description

At the moment instruction 5 says: Add a GitHub Token in .env (Copy .env.example and paste credentials)

It would be clearer is it instead says: Create a .env file in the root of the project. Then add your GitHub token (see example in .env.example file)

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-14 19:50] frazie commented on #127
This only needs an edit on the readme text, right?

[2022-05-14 19:54] emmalearnscode commented on #127
@frazie Yes, that's right

[2022-05-14 19:55] frazie commented on #127
I can handle that
kindly assign it to me

[2022-05-15 15:09] alokVerma749 commented on #79
I want to fix this issue

[2022-05-16 08:40] schmelto opened #131 "[DOCS] update url in readme"
### Description

` Check out the website: [Good First Issue Finder](http://finder.eddiehub.org/)`

update url to new iO domain

### Screenshots

_No response_

### Additional information

_No response_

[2022-05-16 08:49] chiraglal commented on #86
Is this issue solved yet?, I can help add the icons instead of the text.

[2022-05-16 09:49] emmalearnscode commented on #86
@chiraglal No it's not solved yet, please go ahead.

[2022-05-16 17:59] emmalearnscode commented on #131
More info: the new link should be https://finder.eddiehub.io

[2022-05-16 18:41] #131 closed

[2022-05-17 03:40] gandhiv88 commented on #102
Hi @emmalearnscode, Is this issue still open? Please let me know.

[2022-05-17 04:12] Benmuiruri commented on #102
Hi Gandhi, thanks for reminding me. Let me push the requested change

[2022-05-17 04:22] Benmuiruri commented on #102
Hello @emmalearnscode I made the change, I have tried to push but I have received this error `Please make sure you have the correct access rights` How do I go about pushing the changes?

Thanks

[2022-05-17 20:39] aparna2071 commented on #114
Hey @vikasganiga05 / @schmelto if this issue is unassigned, I will love to contribute.
Can you please assign this to me?

[2022-05-18 03:45] gandhiv88 commented on #86
If the issue is not yet resolved, I would like to work on it.

[2022-05-18 05:16] schmelto commented on #114
Sure @aparna2071

[2022-05-18 06:16] aparna2071 commented on #114
Thanks for assigning me

[2022-05-19 17:24] #125 closed

[2022-05-20 17:27] #79 closed

[2022-05-20 17:31] emmalearnscode commented on #102
Sorry for the late reply, did you work it out or do you still need help?

[2022-05-21 05:04] chiraglal commented on #60
Can i work on this issue?

[2022-05-21 05:13] Benmuiruri commented on #102
Hi @emmalearnscode  I did not. What do I need to do to get the rights?

[2022-05-21 06:26] Cahllagerfeld commented on #102
Did you create a fork before trying to commit or push your changes? You should push to your fork and then open the PR to the upstream

[2022-05-21 06:27] Cahllagerfeld commented on #60
@susheelpal are you still on this?

[2022-05-21 12:50] Benmuiruri commented on #102
@Cahllagerfeld I cloned the repo, I did not fork it. I will form it instead.

[2022-05-21 17:37] aparna2071 commented on #114
Hi @schmelto / @vikasganiga05 I have opened PR: Added theme toggle button #137

[2022-05-22 06:40] #127 closed

[2022-05-22 06:44] Cahllagerfeld commented on #83
closed as duplicate of #77

[2022-05-22 06:44] #83 closed

[2022-05-22 06:44] Cahllagerfeld commented on #86
closed with #130

[2022-05-22 06:44] #86 closed

[2022-05-22 06:47] Cahllagerfeld commented on #110
At least in my opinion it's fine how it currently is. I wouldn't want to highjack too many possible labels. I think documenting properly, which Label needs to be added should be enough. What do you think about it @emmalearnscode @schmelto

[2022-05-22 06:55] Cahllagerfeld commented on #114
Hey hey, just a small suggestion from my side:
- Instead of having `#000000` as background, can we use a off-black/dark-greyish color `#22272e`
- instead of having `#ffffff` as color, can we please have `#dadada` instead.

In case you need further documentation, have a look at the
- [tailwind-docs for dark-mode](https://tailwindcss.com/docs/dark-mode)
- Or [this Blogpost](https://www.swyx.io/svelt

[2022-05-22 07:25] aparna2071 commented on #114
Thanks @Cahllagerfeld for your suggestions.

[2022-05-22 10:53] schmelto commented on #110
Agree with that @Cahllagerfeld

[2022-05-22 11:50] alokVerma749 commented on #80
yes, the LICENCE badge should be fine.

[2022-05-22 11:59] alokVerma749 commented on #80
Discord and website badge will be good

[2022-05-22 12:15] uday03meh commented on #114
Is this issue still open? Can I work on this this?

[2022-05-22 12:44] aparna2071 commented on #114
Hey, I am working on this.

[2022-05-23 18:32] anthonychinwe commented on #96
I would like to work on this issue if that's okay

[2022-05-27 08:46] #96 closed

[2022-05-29 08:01] Cahllagerfeld opened #139 "[OTHER] Change Environment-Variable Name"
### What would you like to share?

Based on [this comment](https://github.com/EddieHubCommunity/api/pull/231#issue-1046311337) we should rename the environment variable to `GH_TOKEN`

### Additional information

_No response_

[2022-05-30 09:33] aroramrinaal commented on #108
Yes this issue can be closed now.

[2022-05-30 09:34] aroramrinaal commented on #94
Hey @schmelto, I would like to work on this issue.

[2022-05-30 09:38] #108 closed

[2022-05-30 09:39] aroramrinaal commented on #94
Could you please elaborate the issue. @KendallDoesCoding

[2022-05-30 09:55] aroramrinaal commented on #94
Could you please elaborate the issue. @schmelto

[2022-05-30 09:56] schmelto commented on #94
Adding the current release information to the website like it's done on our linkfree project

[2022-06-02 04:38] Dhruv-Gajjar commented on #102
Hey @emmalearnscode can i know if i can work on this issue?

[2022-06-02 13:10] #139 closed

[2022-06-02 14:16] eddiejaoude opened #143 "test"
### Description

test

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-02 14:16] #143 closed

[2022-06-02 14:20] eddiejaoude commented on #143
test comment

[2022-06-02 14:31] Cahllagerfeld commented on #143
Failing gracefully

[2022-06-02 14:32] Cahllagerfeld commented on #143
Test

[2022-06-03 12:58] emmalearnscode opened #145 "[OTHER] Does this site actually need a nav component?"
### What would you like to share?

Since there is currently only one page and the nav component links back to itself, this could be confusing for screen reader users.

I suggest we remove the nav component and the Hubber icon can just be a part of the header and not be a link unless it is intended to add more pages.

### Additional information

_No response_

[2022-06-05 19:47] #102 closed

[2022-06-05 21:32] ImranVirani opened #149 "[FEATURE] Filter/Sort by Language"
### Description

I was trying to find an issue to contribute that was in C or Python since I have experience in these languages. Having the option to filter by language or sort by language would make it easier to sort out which projects I can contribute to.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-06 02:54] schmelto commented on #149
I think this is already issued in #77

[2022-06-09 00:30] ImranVirani commented on #149
You are correct

[2022-06-09 00:30] #149 closed

[2022-06-19 16:52] bishal7679 commented on #104
I would like to work on that. Can you assign me @emmalearnscode ?

[2022-06-20 12:39] ianujvarshney commented on #94
could you please assign me the issue. by the way where you need on which as website section this changes. then i ll change that.

[2022-06-20 15:54] aroramrinaal commented on #94
I am working on this.

[2022-06-20 17:52] ianujvarshney commented on #94
Ok keep it up. I will resolve others issues.

[2022-06-22 05:23] Jyotiraditya24 commented on #145
hey I can resolve this issue?

[2022-06-22 10:29] Michael-Obele commented on #77
Hey, I would love to help with this. I am a react developer who is just getting started with Svelte, but I think I can pull it off.

[2022-06-22 13:41] Cahllagerfeld commented on #77
Awesome, nice to hear to have someone new in the Svelte-Community 🙏 🧡.

[2022-06-23 14:54] schmelto commented on #81
You could take a look here if

https://github.com/EddieHubCommunity/support/blob/main/.github/ISSUE_TEMPLATE/bug.yml

[2022-06-25 16:47] Mishra121 commented on #106
@emmalearnscode , @KendallDoesCoding
I guess better approach to handle this UI scenario will be:
1. to  remove the default cross added by chrome in the type=search input
2. create a custom cross feature to work across different browsers.

[2022-06-27 15:53] Mr-Destructive opened #155 "[FEATURE] Add Creation date of Issues in the Issue Card"
### Description

Add a created or updated time stamp at the Issue Card component for better contextual information.

This will help for filtering the issues according to the latest relevant time.

### Screenshots

The date when the issue was created can be displayed below:

![image](https://user-images.githubusercontent.com/40317114/175981699-44cc64ef-0701-40dc-b12a-0bbffb2be42b.png)

### Addition

[2022-06-27 16:20] KlausMikhaelson commented on #43
I can create a nice favicon something like a kid holding a search logo I guess it will look better
I will be really glad if someone can assign it to me

[2022-06-27 17:35] Cahllagerfeld commented on #43
Nice Catch @Dharmik48. I think we should use an image/icon from the [branding repo](https://github.com/EddieHubCommunity/Branding), also to be consistent across Eddiehub Projects (see [LinkFree](https://www.linkfree.eddiehub.io)).

For the given reason, I think creating a custom one is currently not necessary @KlausMikhaelson. In case we decide to go with a custom one later, we can come back to th

[2022-06-27 18:08] Arushisingh23 opened #157 "multiple theme can be added for toggle"
### Description

a theme like dark and light

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-27 18:09] #157 closed

[2022-06-28 03:40] Dharmik48 commented on #43
Thank you assigning this me @Cahllagerfeld

I think we should go with this one because it seems like Hubber is doing some work on the laptop or _searching_ for something, and that's exactly what the users are doing on the website, they are _searching_ for an issue to contribute to. So it feels more meaningful to use this rather than the one I mentioned above

What do you think about this?

![image

[2022-06-28 04:57] Dharmik48 commented on #60
As I am working on issue #43 I will fix this one too as both are related

[2022-06-28 08:29] Cahllagerfeld commented on #43
Sure, lets go with this 👍

[2022-06-28 08:36] Dharmik48 commented on #43
Alright then, I'll get working 💪🏻

[2022-06-28 14:20] Cahllagerfeld commented on #114
I'll take over the PR, as you closed the PR and also didn't answer in #137. If you want to keep working on this, let me know :)

[2022-06-29 06:41] #114 closed

[2022-06-29 07:25] schmelto opened #159 "[OTHER] Hide `EddieHub:good-first-issue` in GitHub overview"
### What would you like to share?

![image](https://user-images.githubusercontent.com/30869493/176376964-8900cf1a-3003-4bd7-a964-ef32246a8c06.png)

Hide `EddieHub:good-first-issue` due its not changing anything in the view.

### Additional information

_No response_

[2022-06-29 18:08] Arushisingh23 opened #161 "we can have detailed different page for issue"
### Description

Where we can explain properly.

### Screenshots

_No response_

### Additional information

_No response_

[2022-06-30 07:31] #43 closed

[2022-06-30 07:31] #60 closed

[2022-07-01 07:53] schmelto opened #163 "Don’t format CHANGELOG.me on non run format"
Yeah maybe we can consider excluding CHANGELOG.md from the formatter?
see for reference [here](https://prettier.io/docs/en/ignore.html)

__
[![sema-logo](https://app.semasoftware.com/img/sema-tray-logo.gif)](https://semasoftware.com/gh) &nbsp;**Summary:** :question: I have a question&nbsp; | &nbsp;**Tags:** Not reusable

_Originally posted by @schmelto in https://github.com/EddieHubCommunity/good-

[2022-07-01 07:55] schmelto commented on #161
#36

[2022-07-01 12:12] Dharmik48 opened #164 "Change the Hubber icon in the nav bar"
### Description

We changed the favicon of the website to one of the Hubbers from the branding repo, but the Hubber in the header of the website is different from the one in the favicon.

So I think to be consistent, we should change the Hubber in the header to be the same as in the favicon.

### Screenshots

The one in the favicon:
![favicon hubber](https://user-images.githubusercontent.com/64529

[2022-07-01 12:22] Cahllagerfeld commented on #164
Affected by #145

[2022-07-01 12:45] Dharmik48 commented on #164
I can try to solve #145

[2022-07-01 12:53] Dharmik48 commented on #145
Do you think something like this will work?
![new design idea](https://user-images.githubusercontent.com/64529217/176898339-c0236b8d-1a9a-4a07-9b10-be2283ecb1e3.png)

[2022-07-01 12:56] Dharmik48 commented on #164
Hey @Cahllagerfeld I have a proposed a new header design in the #145 comments, please give your reviews on that.

[2022-07-01 15:48] ianujvarshney commented on #164
i can resolve this issue i never get any badge please assign this issue.

[2022-07-01 18:23] Cahllagerfeld commented on #145
I like the idea 👍

[2022-07-01 18:24] Cahllagerfeld commented on #164
I think its okay if @ianujvarshney works on that issue, as @Dharmik48 is working on #145. What do you think?

The only think we need to keep in mind, that we potentially run into merge conflicts, when doing this at the same time, but we got this I think 💪

[2022-07-01 20:24] KlausMikhaelson commented on #163
Hey @schmelto I think I can do this can you assign it to me ?

[2022-07-02 02:58] Dharmik48 commented on #164
That's a good solution, that way we both get a chance to contribute to the project 😄

[2022-07-02 03:00] Dharmik48 commented on #145
Great, I'll get to work then

[2022-07-02 03:07] Dharmik48 commented on #164
Hey @ianujvarshney , as you will be working on this issue, you will find the png of Hubber in the [Branding](https://github.com/EddieHubCommunity/Branding) repo.

[2022-07-02 03:08] Dharmik48 commented on #164
Select the same Hubber as the favicon one

[2022-07-02 03:32] ianujvarshney commented on #164
Sure i will do it. 👍

[2022-07-02 16:06] #145 closed

[2022-07-02 17:08] Dharmik48 commented on #145
Hey @Cahllagerfeld now that I am finished with this issue, can I work on #82 ?

[2022-07-02 17:13] Cahllagerfeld commented on #82
I'm not sure about that, it's probably worth spiking this. The concern I'm having is that it might look a bit odd when having many different icons there. I'm not sure if something more consistent, like the solution we're currently having looks better and feels better UX-wise. If you want to go ahead feel free to work on this though, we'll see how it looks, once you finished it :)

[2022-07-02 17:15] Dharmik48 commented on #82
Okay then, I make the changes and raise a PR, then you can see if it looks better or not then decide to keep it or note

[2022-07-02 17:18] Cahllagerfeld commented on #82
I'd love to collaborate and get your take on it too :D I always try to avoid making decisions based on my own opinions :D You'll get the best results possible if you also hear and respect other opinions :D

[2022-07-02 17:20] Dharmik48 commented on #82
That is a very good mindset you have there

[2022-07-02 17:23] Dharmik48 commented on #82
It is indeed true that we can get better results by listening and respect other's thoughts

[2022-07-02 17:31] Dharmik48 commented on #82
It will look something like this
![image](https://user-images.githubusercontent.com/64529217/177010549-ff2cf9f1-0720-4f03-b268-6889769bb316.png)

[2022-07-02 19:36] nitishmalang commented on #94
hello Can I work on this issue

[2022-07-02 20:16] Cahllagerfeld commented on #94
I think @aroramrinaal is currently working on this issue, please correct me if I am wrong :)

[2022-07-05 11:13] jameslieu opened #169 "Clicking the 'X' to clear the search, does not reset the list"
### Description

When clearing the search filter, as a user I would expect the list to also be restored to what it was prior to searching.

### Screenshots

_No response_

### Additional information

_No response_

[2022-07-09 13:20] #82 closed

[2022-07-09 13:47] Dharmik48 commented on #169
This issue is similar to #106

[2022-07-09 13:49] Dharmik48 commented on #97
Isn't this feature already in the website?
![image](https://user-images.githubusercontent.com/64529217/178108671-4b070bcc-2a52-45fb-afd5-c043f2ec9aed.png)

[2022-07-09 15:34] Cahllagerfeld commented on #97
Yes, I think 🤔 closing it for now

[2022-07-09 15:34] #97 closed

[2022-07-09 16:44] vrindavan opened #170 "[OTHER] Is the Gear near theme toggle doing something?"
### What would you like to share?

I tried inspecting but could not find if there is a use case for the Gear icon (screenshot attached). I think it might be redundant at the moment.
When using the Theme toggle, it works perfectly but the Gear icon seems to be doing nothing. Am I missing something? When you refresh the page the Gear is selected first and then one can switch the theme, but we can ju

[2022-07-10 07:11] Cahllagerfeld commented on #170
The Gear Setting picks up your system setting - e.g when your local theme changes from light to dark at a certain time, its going to be reflected in the application

[2022-07-10 07:16] Cahllagerfeld commented on #164
closed with #168

[2022-07-10 07:16] #164 closed

[2022-07-10 07:17] Cahllagerfeld commented on #110
closing this for now, see relevant discussion above

[2022-07-10 07:17] #110 closed

[2022-07-10 07:20] Cahllagerfeld commented on #91
Closing this, as this was added already through org-wide ones. Thanks @connorhsm

[2022-07-10 07:20] #91 closed

[2022-07-10 13:31] vrindavan commented on #170
So the Gear is basically for System Theme?

[2022-07-11 02:26] #170 closed

[2022-07-24 12:39] jameslieu commented on #169
No response or activity on this also, as mentioned, it is a duplicate of https://github.com/EddieHubCommunity/good-first-issue-finder/issues/106

I'll close this as well.

[2022-07-24 12:39] #169 closed

[2022-07-24 14:08] #106 closed

[2022-07-30 10:52] Kartik2220 commented on #80
added license badge
#172

[2022-08-02 12:21] KarlGusta opened #173 "Typo in repo description"
### Description

- To change the repo description from Github to GitHub.

### Screenshots

![image](https://user-images.githubusercontent.com/33565767/182373183-da700d37-3467-42d9-92bc-ed5812cebbe6.png)

### Additional information

_No response_

[2022-08-02 12:46] KarlGusta opened #174 "Typo on the header"
Typo on the name Eddiehub.

[2022-08-02 13:24] #174 closed

[2022-08-10 21:43] jyotsnad246 opened #177 "Improved Footer for Good First Issue Finder"
### What would you like to share?

The footer can be improved
Currently this is the footer
<img width="764" alt="image" src="https://user-images.githubusercontent.com/84655618/184025950-5d218c91-dcae-4d29-b17a-1c0c52ed4cb9.png">

[2022-08-11 16:12] kelvinparmar commented on #173
I would like to work on that issue @KarlGusta
Please assign to me

[2022-08-11 19:45] Cahllagerfeld commented on #173
I think, you don't have the required permissions to adjust these repo settings @kelvinparmar

[2022-08-12 04:43] kelvinparmar commented on #173
Ohk @KarlGusta

[2022-08-14 08:16] eddiejaoude commented on #173
I assigned it to @kelvinparmar 👍

You should have permission @Cahllagerfeld 🤔 you were able to assign it to me? Let's chat in Discord and figure out why so we can solve it so you have more permissions

[2022-08-14 08:18] kelvinparmar commented on #173
How can i change it because where the text is available?

[2022-08-14 08:19] kelvinparmar commented on #173
Readme file not showing me

[2022-08-14 08:20] eddiejaoude commented on #173
Sorry I just read the issue, you cannot change the repo description, only a project maintainer can, I will assign it back to me

[2022-08-14 08:22] kelvinparmar commented on #173
Yeah because changes are not in readme file it's in discription

[2022-08-14 08:22] kelvinparmar commented on #173
So now what i have to do?

[2022-08-14 08:25] eddiejaoude commented on #173
Unfortunately you cannot not do this ticket, a PR cannot be raised for it. I have updated the description in the repo settings. I suggest looking at another issue. I have added the label `staff only`

Please do not just send 1 line comments a few seconds apart, it creates a lot of notifications for everyone, it is best to put them in a single comment

[2022-08-14 08:25] #173 closed

[2022-08-14 08:27] kelvinparmar commented on #173
Ok @eddiejaoude I am understand it. Thank you

[2022-08-15 18:57] Cahllagerfeld commented on #104
See [this](https://github.com/EddieHubCommunity/good-first-issue-finder/pull/150#issuecomment-1193326453) comment for further information

[2022-08-16 08:17] jasham commented on #177
Hello @jyotsnad246 can you please explain me how the expected footer will look like ?

[2022-08-18 07:39] Cahllagerfeld opened #179 "Spike Github Login"
### What would you like to share?

To get rid of the PAT, we currently use as a MVP, we should think about creating a Login to Github with Oauth2

### Additional information

_No response_

[2022-08-18 07:40] Cahllagerfeld opened #180 "[OTHER] Upgrade Sveltekit"
### What would you like to share?

Sveltekit released mulitple Breaking Changes since the project was created. It's maybe worth upgrading the project to it.

### Additional information

_No response_

[2022-08-18 14:04] Cahllagerfeld opened #182 "[OTHER] Refactor App to use $env module"
### What would you like to share?

The Environment is currently loaded with `env-cmd`. There is now a native functionality, the [$env](https://kit.svelte.dev/docs/modules#$env-dynamic-private) module

### Additional information

_No response_

[2022-08-18 14:32] Cahllagerfeld opened #183 "Prevent Flash when Darkmode is selected"
### Description

Currently, when using Darkmode and the page gets called, there's an initial flash where the page is still white. This should be prevented

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-18 14:33] #180 closed

[2022-08-18 19:16] eddiejaoude commented on #94
It would be great to get this ticket moving, @aroramrinaal , do you need any help with it or shall we pass it on to someone else?

[2022-08-19 05:40] kumarsanu2002 commented on #183
I think that will happen because it take time to download page .To solve this you can use  cookie from the server side.

[2022-08-19 07:31] #182 closed

[2022-08-19 23:19] aroramrinaal commented on #94
@eddiejaoude , please pass it to someone else.

[2022-08-20 17:58] Cahllagerfeld opened #188 "[FEATURE] Playwirght e2e tests"
### Description

Initialize Tests with Playwright

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-20 18:11] #188 closed

[2022-08-20 18:29] Arushisingh23 opened #190 "[OTHER]"
### What would you like to share?

why  not we can filter as per languages will be easy for user

### Additional information

_No response_

[2022-08-20 20:14] Cahllagerfeld commented on #190
Closing this as duplicate of #77

[2022-08-20 20:14] #190 closed

[2022-08-20 20:15] Cahllagerfeld commented on #77
Hey @Michael-Obele, just a small ping :) How is it going along? Let me know if you need help with it 👍

[2022-08-20 20:33] Arushisingh23 commented on #190
just checked

[2022-08-22 16:08] Cahllagerfeld opened #191 "[FEATURE] Add Placeholder E2E Tests"
### Description

Adding Placeholder tests for people to make it easy to contribute:
- use `fixme` from playwright
- improve playwright setup for Gitpod

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-23 07:38] Michael-Obele commented on #77
I apologize for not responding sooner. I'd been quite busy recently. I'd like some assistance; if it's conceivable for you to assist me in fully understanding how the API works, that would be fantastic; however, I realize that's my job, so I won't expect anyone else to do it. That being said, I'll get back to it right away and maybe finish it shortly.

[2022-08-23 21:25] siddhipatel184 commented on #81
I am a beginner and I would like to contribute, however, I am still unsure of how to start about it.

[2022-08-27 10:27] Cahllagerfeld commented on #161
closing this as duplicate of #36

[2022-08-27 10:27] #161 closed

[2022-08-27 10:53] #179 closed

[2022-08-27 11:00] krupalitrivedi opened #195 "[OTHER] Fix the kubernetes secret name for GitHub OAuth"
### What would you like to share?

Please change the Kubernetes secret name for GitHub OAuth!

### Additional information

_No response_

[2022-08-27 11:03] #195 closed

[2022-08-27 11:35] #94 closed

[2022-08-28 17:42] Cahllagerfeld opened #200 "[IDEA] Put documentation into the app"
### Description

We could provide the documentation for the project as static content inside the docs by using `mdsvex`

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-28 21:33] eddiejaoude opened #201 "Filter out banned accounts from displaying"
### Description

We should not include accounts that are banned in the results

The API docs are here for getting block accounts for an Organisation
https://docs.github.com/en/rest/orgs/blocking

[code]

### Screenshots

_No response_

### Additional information

_No response_

[2022-08-29 14:15] #49 closed

[2022-08-30 10:15] eddiejaoude commented on #201
@Cahllagerfeld this might prove challenging with pagination 🤔

[2022-08-30 10:42] Cahllagerfeld commented on #201
I didn't have a look into it yet 😅 I'm sure we'll find a solution! :D

[2022-08-30 10:44] Cahllagerfeld commented on #191
closed with #193

[2022-08-30 10:44] #191 closed

[2022-08-31 15:38] Michael-Obele commented on #77
Hello, @Cahllagerfeld. Thanks for the ping; I am sorry for submitting late; I was busy and forgot I had this work. So far, I've done the task with a few difficulties, which may be seen under notes to reviewers. Given that typescript isn't my strong strength, I'd appreciate feedback on my implementation.

[2022-09-04 22:27] eddiejaoude opened #204 "[FEATURE] Show that it is a "friendly" repo"
### Description

Show badges for

- has a license
- has code of conduct
- ...?

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-05 04:41] schmelto commented on #204
Maybe this is something we should also discuss on org level?

My personal preference is not to include badges like license in the readme cause it's already provided by GitHub in the on the right side under the project description.

But if we want to include the badges we should use a standard design and include them in all repos we have. It's like the gitpod icon that is currently a little bit clu

[2022-09-05 06:24] eddiejaoude commented on #204
Sorry Tom, you are correct, I didn't explain myself well. I don't want to duplicate, I meant on the result page for this project, for example

<img width="1621" alt="Screenshot 2022-09-05 at 07 23 28" src="https://user-images.githubusercontent.com/624760/188373904-c3d77c63-f59e-4699-80e7-2efbd6815374.png">

[2022-09-05 06:27] eddiejaoude opened #205 "[DOCS] What are the rules before using the label"
### Description

Before people add the label, their issue must have

- steps by step in the issue on how to complete the issue
- this is not the label to ask for help, it is to help other people get involved in your project
 ... what else?

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-05 15:56] Cahllagerfeld commented on #205
Nice idea 👍

[2022-09-05 20:51] schmelto commented on #204
Yes that's an idea I really likes

[2022-09-06 07:43] Michael-Obele commented on #159
If no one else is doing it. I'd love to do this.

[2022-09-07 08:44] Cahllagerfeld commented on #201
Hey @eddiejaoude,

the token that fetches the data for blocked user needs to have a specific scope: `admin:org` [[1](https://docs.github.com/en/rest/orgs/blocking#list-users-blocked-by-an-organization)] (see in section above the linked one). The users that use the app aren't having this => we can't use the user tokens to fetch the blocked users.

We may need another solution for this 🤔

[2022-09-07 08:46] eddiejaoude commented on #201
Oh no! Oh yes, it will need an Org admin permissions. We still have my token on the server as an environment variable, would that work? If not, I can update the token to have that permission

[2022-09-07 18:50] Cahllagerfeld opened #207 "[FEATURE] Set up Documentation"
### Description

I suggest putting the documentation inside the repo, by using Markdown with MDSvex

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-08 16:15] #207 closed

[2022-09-08 16:18] Cahllagerfeld commented on #200
closed with #208

[2022-09-08 16:18] #200 closed

[2022-09-08 16:32] Cahllagerfeld opened #209 "[FEATURE] Small UI Fixes"
### Description

- Login Button, if the user is not logged in
- Make Icon on top-left an anchor to the main page
- Add Link to docs

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-08 17:27] #209 closed

[2022-09-08 17:32] ShaikMoAbdullah opened #211 "GitHub Actions Enhancements"
### Description

To add Kubescape actions in the project

[2022-09-08 17:32] Cahllagerfeld opened #212 "Small Layout Shift"
### Description

There's a small layout shift when navigating away from the `/` route to `/docs` or `/login`

It's caused by the scrollbar. I'm not sure if there's a way to get around this thouhg

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-08 17:41] #211 closed

[2022-09-13 21:06] KlausMikhaelson commented on #204
Hey @eddiejaoude I'm a developer and have worked with svelte and would really like to contribute in this feature, can you please assign this to me ?

[2022-09-14 06:16] eddiejaoude commented on #204
Thanks Tom 👍

[2022-09-15 06:32] Cahllagerfeld opened #215 "[FEATURE] Move Filters to Modal"
### Description

Currently the list of filters might become quite long + in addition when having additional filters, e.g the one for languages, the space this entire filter thing takes in might become very big. We should htink about moving the filter stuff to modals so they don't block the actual UI

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-15 06:46] #105 closed

[2022-09-15 07:54] Cahllagerfeld opened #216 "Refactor State Management"
### What would you like to share?

The way the data flows through the app works, but isn't very clean. Regarding future features,  it might be worth refactoring this, so we don't end up with a messy state management inside the app

### Additional information

_No response_

[2022-09-15 11:54] mkubdev commented on #75
Hi, just for sharing the documentation link which is updated for Svelete custom error page : https://kit.svelte.dev/docs/routing#error

[2022-09-18 22:40] KlausMikhaelson commented on #204
Hi just wanna give the update that I am working on it I was just completing the other projects that I had so I am working on it now!

[2022-09-19 16:19] Cahllagerfeld opened #220 "[FEATURE] SEO Optimization"
### Description

Add Meta Information, Opengraph, etc...

This can be achieved by using the `<svelte:head>` tag, in `.svelte-files` in the `routes` directory

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-19 16:27] Cahllagerfeld opened #221 "[DOCS] Add Layout to documentation"
### Description

We should add a layout to the documentation, that contains a menu on the left-side

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-20 07:03] ISanjeevKumar opened #223 "Playwright tests cannot be run due to an unknown file extension ".ts""
### Description

I am getting the following error when running the playwright test scripts for playwright.config.ts file.

Error:
TypeError: Unknown file extension ".ts" for /good-first-issue-finder/playwright.config.ts.
   at new NodeError (node:internal/errors:370:5)
    at Loader.defaultGetFormat [as _getFormat] (node:internal/modules/esm/get_format:71:15)
    at Loader.getFormat (node:internal

[2022-09-20 07:05] eddiejaoude commented on #223
Can you share the steps you took to get here? For example...

1. cloned repo
2. ran the command `npm install`
3. ...

[2022-09-20 07:08] Cahllagerfeld commented on #223
Test-files need to have the extension `.spec.ts` to get picked up by playwright.

[2022-09-20 07:12] ISanjeevKumar commented on #223
OS - macOS
Nodejs version - v16.5.0

Steps followed:

1. Fork the project
2. Clone the repo on my local machine
3. Run npm install then npx playwright install --with-deps
4. Then, when I tried running the test using npm run test, I got the aforementioned error.

Note - test file type is already have extension .spec.ts

[2022-09-20 07:14] ISanjeevKumar commented on #223
It appears that the issue is in the package.json file. Would it be okay if I sent the PR for the fix? @eddiejaoude

[2022-09-20 07:17] eddiejaoude commented on #223
Sure 👍 It is easier to see the changes and discuss when there is a PR 👍

BTW @Cahllagerfeld is the project lead on this project.

[2022-09-21 13:52] #221 closed

[2022-09-21 13:55] Cahllagerfeld opened #226 "Add Table Of Contents to docs page"
### Description

We should display the headings on the page in the right column of the layout, to make it easier for users to navigate

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-21 13:59] Cahllagerfeld opened #227 "Add Hamburger Menu for mobile devices"
### Description

We're currently not differentiating between large screens and smaller devices. We should change the layout of the navbar if the breakpoint is below `lg`. An Hamburger Menu would be ideal for this.

### Screenshots

_No response_

### Additional information

_No response_

[2022-09-22 17:52] KlausMikhaelson commented on #204
I have added the code of conduct badge and now figuring out license one

[2022-09-23 00:23] Ann-design-max commented on #227
Hi @Cahllagerfeld  Can I work on this issue if it has not been assigned?

[2022-09-23 05:34] Cahllagerfeld commented on #227
Sure 👍🏽

[2022-09-24 07:44] MrKrishnaAgarwal commented on #81
I want to work on this issue, please assign to me @schmelto

[2022-09-24 07:57] MrKrishnaAgarwal commented on #81
But in which repo, do I have to make the contributions.
@schmelto

[2022-09-24 08:00] MrKrishnaAgarwal commented on #81
Hey @schmelto
But there is no `.github/ISSUE_TEMPLATE` folder so how can I make the changes?

[2022-09-24 16:12] Ann-design-max commented on #227
Thanks @Cahllagerfeld . I need a little help though. I can't seem to login on local. Started a discussion on it here
https://github.com/orgs/EddieHubCommunity/discussions/5454

[2022-09-30 07:12] ChinmayMhatre commented on #226
Could you explain it again where exactly would the headings be?

[2022-09-30 07:13] ChinmayMhatre commented on #215
I could give this a try!

[2022-09-30 09:45] #204 closed

[2022-09-30 16:46] Pradumnasaraf opened #230 "[FEATURE] Add a .dockerignore file"
### Description

Add a `.dockerignore` file in the root

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-01 01:09] RaheemAmer opened #231 "[Enhancment] Remove system button theme"
### Description

## Suggestion

1. I don't see a value for that button since there are already two separate buttons for light and dark themes, so a silly suggestion would be to implement the system theme by default with no need for a button once the user enters the website

2. Also, the two buttons are really close and similar to each other which is a little bit annoying to figure out and maybe a

[2022-10-01 09:11] xx-abhijeet-xx commented on #231
Can you assign this issue to me? I can solve it!

[2022-10-01 13:15] sanyamgandhak commented on #212
Hi there , Please assign it to me

[2022-10-01 13:15] sanyamgandhak commented on #230
Hi there , Please assign it me

[2022-10-01 13:54] Cahllagerfeld commented on #231
The system setting does exactly what the linked article suggest. It picks and matches that mediaQuery and sets the theme based on that [[1](https://github.com/EddieHubCommunity/good-first-issue-finder/blob/cdd95fa60ed207615b89acbe9c2151af6495d3f4/src/lib/components/theme-switcher.svelte#L26)]. Computers are providing the setting to switch the dark theme based on day time for example, which means t

[2022-10-01 13:55] Cahllagerfeld commented on #212
I can assign it to you, but I think there's no action item to do here. Based on my investigations, this small shift is caused by the scrollbar, which we can't get rid of on longer pages

[2022-10-01 13:55] Cahllagerfeld commented on #230
There's a PR #232 already opened by Pradumna 😅

[2022-10-01 14:24] sanyamgandhak commented on #72
Hi there ,
Please give some more info on this

[2022-10-01 14:26] sanyamgandhak commented on #177
Hi , I will do this task . I will make the footer broader and icon larger . Please assign this to me

[2022-10-01 14:26] sanyamgandhak commented on #183
Hi there ,
Please assign it me

[2022-10-01 14:56] Cahllagerfeld commented on #177
The footer got refactored already, so it currently doesn't look like the one on the screenshot anymore. Please see my comments in the PR #178 as well.

[2022-10-01 14:57] Cahllagerfeld commented on #72
The response we receive from the endpoint currently is a very nested one. It's easier for the frontend not to work with this amount of nested objects. Thats why we can add a mapping in the endpoint to reduce the complexity of the response object.

[2022-10-01 17:15] sanyamgandhak commented on #183
Hi there,
Checked it and also compared it to the other website dark mode  . I think working is fine . But as there no single button for toggling the dark mode we are getting the feel of the initial flash . What do you think ?

[2022-10-01 17:49] Cahllagerfeld commented on #183
My take on the issue is, that the Page is rendered with light-mode initially. I'm not sure, as I didn't spend time on this issue yet, but my solution would be to store the state in the cookie, and then do the Theme-Rendering on the server

[2022-10-02 09:17] fms12 opened #233 "[NavBar] <Add navbar >"
### Description

add Navbar for better UI . and move the search button inside the navbar

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-02 09:17] fms12 commented on #233
Can you please assign to me

[2022-10-02 10:27] Cahllagerfeld commented on #233
Hey @fms12 see the discussion in #145 first. With this issue we removed the navbar we were having

[2022-10-02 15:27] #233 closed

[2022-10-04 10:11] ChinmayMhatre commented on #226
Hey @Cahllagerfeld could you elaborate on this . I could work on this issue.

[2022-10-04 10:14] ChinmayMhatre commented on #81
Hey @schmelto, If no one is working on this. I could complete this.

[2022-10-04 13:55] ChinmayMhatre commented on #226
Could you give me a overview on how I could get this started?

[2022-10-04 13:59] Cahllagerfeld commented on #226
I don't know myself in detail, I didn't have a look in depth into it, but my suggestion would be:
1. Get Headings from Page and write a function that sorts them hierarchically
1. turn the headings in the toc to links => the headers are already anchors that can be targeted
1. For the scrolling thing, you may need a scroll-listener calculating and comparing the Y-Offset of the page and the headings

[2022-10-04 14:10] Atharv181 opened #234 "[DOCS] <We should add "upgrade node version above 6.14.0 " >"
### Description

After fork and cloning of project I ran command of npm install but it didn't work for me because my node version was 6.13.
We can add extra step after 3rd step of **Installation Steps** .

### Screenshots

![image](https://user-images.githubusercontent.com/73999654/193842017-34446b64-96c4-4bba-8c35-0b50b11b3656.png)

### Additional information

_No response_

[2022-10-04 14:12] ChinmayMhatre commented on #226
Alright I'll look into it.

[2022-10-04 15:00] Cahllagerfeld commented on #234
I think this is your local node version, and not related to the project
Can you please run `node -v` in your terminal

[2022-10-04 16:36] Atharv181 commented on #234
Yes I solved the problem but I thought if any beginner faced the same issue then he might not able to solve.

[2022-10-04 18:18] Atharv181 commented on #234
So do you want me to make pr or close the issue?

[2022-10-04 21:51] Rajeevjewar commented on #177
I am working on it.

[2022-10-04 21:52] Rajeevjewar commented on #177
I think i am late to contribute to it.

[2022-10-05 07:52] flomero commented on #220
hey @Cahllagerfeld can I work on this issue if it has not been assigned yet?

[2022-10-05 07:54] Cahllagerfeld commented on #220
Sure 👍 Let me update the description, and explain things more detailed

[2022-10-05 08:02] Cahllagerfeld commented on #234
Nono, feel free to adjust documentation on this!

[2022-10-05 08:56] Atharv181 commented on #234
Ok then I will work on that.

[2022-10-05 09:19] shreyashidabral commented on #81
Hii @schmelto, I would like to work on this issue. Can you please assign it to me?

[2022-10-05 16:40] #234 closed

[2022-10-05 18:22] Nymphalys commented on #80
Hi I can work on this issue,can you assign this to me?

[2022-10-05 18:23] Nymphalys commented on #76
Hi,I am interested to work on this issue,I think I can fix this

[2022-10-06 06:47] Cahllagerfeld commented on #76
I think we need to discuss first which shields we are actually want to use.
I'd be in favor of ones indicating the status of the actions though.

Do you have any further ideas @schmelto @eddiejaoude

[2022-10-06 18:35] ChinmayMhatre commented on #226
Hey @Cahllagerfeld, I cloned the repo and added the oauth key but I am getting this error when I try to login .
![image](https://user-images.githubusercontent.com/51131670/194391971-a2fbe1a7-c441-4b7e-9fce-0a48943cc41f.png)

[2022-10-07 06:46] thevinitgupta commented on #215
I would like to work on this.

[2022-10-07 07:54] ChinmayMhatre commented on #226
Hey @Cahllagerfeld ,
I am working on this. but I can't seem to figure out how to get the headings from the markdown file. I tried using the vite plugin for markdown but I can't seem to be able to import the markdown file in the layout.svelte file.

[2022-10-07 07:56] ChinmayMhatre commented on #226
https://github.com/hmsk/vite-plugin-markdown this is the plugin. But when I go to add the configs it throws and error. And with out the plugin I could'nt even import the md file.

[2022-10-07 10:38] Cahllagerfeld commented on #226
I think you can just use a `QuerySelector` to grab the headlines from the content-block 🤔

[2022-10-07 10:42] ChinmayMhatre commented on #226
I tried using `document.QuerySelector` but document isn't defined. Also wouldn't I need a div to query the id?

[2022-10-07 10:43] ChinmayMhatre commented on #226
wouldn't I need a div to query the id?
What do I query to get the headlines?

[2022-10-07 10:44] ChinmayMhatre commented on #226
Also I get a document is not defined error when I do . document.queryselector

[2022-10-07 12:57] Cahllagerfeld commented on #226
I thing you would run the query selector on the `div` mdsvex renders the content in, with `h2, h3, h4, h5, h6` selector 🤔

[2022-10-07 13:40] Akshu-on-github opened #238 "[FEATURE] Filter out Assigned Issues"
### Description

Noticed a few issues turning up that had folks assigned to them because maintainers hadn't removed the `EddieHub:good-first-issue` label yet

Perhaps we can filter out issues that have been assigned to contributors already?

### Screenshots

![Screenshot_2022-10-01-01-01-42-24](https://user-images.githubusercontent.com/61582763/193343408-6af6b5ce-98a0-4b91-ba8f-c801a2ae1833.jpg)
F

[2022-10-07 14:02] Cahllagerfeld commented on #238
Nice find! I have to admit that I actually thought this would be handled [in the current queries](https://github.com/EddieHubCommunity/good-first-issue-finder/blob/7c1443aca6a968f599f8823bbe744c6c9afd5313/src/routes/%2Bpage.ts#L11). They already contain no assignee. Maybe worth investigating in case that's not working.

Do you want to have a look into it?

[2022-10-08 06:36] Akshu-on-github commented on #238
My bad, I misunderstood the situation - at a closer glance, the person working on the issue was not assigned to it
Maybe a user guide would be a better fit here?

[2022-10-08 13:53] Cahllagerfeld opened #239 "[FEATURE] Spike Storybook for project"
### Description

We should check the storybook integration for the project.

It might be a cool thing to have Component-driven design in the project

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-08 14:18] Cahllagerfeld commented on #220
closed with #235

[2022-10-08 14:18] #220 closed

[2022-10-09 17:45] PrakritiShetty commented on #227
Hi, can I please work on this issue?

[2022-10-10 05:57] ChinmayMhatre commented on #226
Wow! I skipped the most logically and simple solution, lol. Works now, Thanks!

[2022-10-12 11:40] Fyffeba commented on #81
Looking to take a crack at this also if its possible!

[2022-10-12 11:55] Fyffeba commented on #80
would be more than happy to assist and help out with this thank you!

[2022-10-17 15:33] Cahllagerfeld opened #247 "Icons in Switcher are not centered"
### Description

<img width="124" alt="grafik" src="https://user-images.githubusercontent.com/43843195/196220087-a08e6d52-a935-46de-a1d3-a0a508e6e933.png">

The icons in the switcher aren't centered (most obvious the one in the middle). They should  be centered within the button

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 22:36] auchynnikau commented on #247
Assign this issue to me.

[2022-10-18 07:01] #247 closed

[2022-10-18 16:32] #205 closed

[2022-10-23 12:36] kumarsonsoff3 opened #250 "feat: add custom issue forms for Finder"
### Description

Add custom issue forms for the Finder project (From .github), including:

- General Feature Request
- Documentation issue
- Bug
- Other
- 🙋🏾🙋🏼‍Question

### Screenshots

![image](https://user-images.githubusercontent.com/88786642/197391604-445bc6ba-8bb7-47f9-9e35-1e865c521020.png)

### Additional information

All file should be added in a new directory `"ISSUE_TEMPLATE"` in `./.gi

[2022-10-26 13:05] #250 closed

[2022-11-19 07:08] 2201monesh commented on #159
Hey @Michael-Obele are you still working on this issue?

[2022-11-22 19:41] Michael-Obele commented on #159
Sorry I'm done with it. I'll be making a pull request soon.

[2022-11-24 00:53] Panquesito7 opened #255 "[BUG] Missing spaces cause invalid Markdown list"
### Description

There are missing spaces in the contributing file which prevents proper Markdown lists/formatting.

https://github.com/EddieHubCommunity/good-first-issue-finder/blob/d80ea8883ae8c85a466da27db58beefe818c8bb1/CONTRIBUTING.md?#L45-L47

### Steps to contribute

_If you've already forked the repository, skip to step 3_

1. Fork the repository [**here**](https://github.com/EddieHubCommu

[2022-11-25 03:21] joeshajan commented on #255
Hey @Panquesito7 I'm a beginner and I think I can fix this. Can you assign this to me.

[2022-11-25 07:52] #255 closed

[2022-11-27 05:42] Michael-Obele commented on #159
Sorry, I've recently noticed that the CSS disappears just as the page loads completely, and I'm wondering if this is limited to my local machine. Is anyone else experiencing this problem?
![error](https://user-images.githubusercontent.com/70345027/204121021-e12efb6c-db21-40da-8bdb-e52d6e7e10bd.png)